.button-add-productline {
    display: block;
}

.add-productline {
    position: relative;
    display: block;
    width: 600px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
