.container-home {
    display: inline-flex;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center
}

.back-form-addproductline {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center
}

.modal-form-productline {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);

}

.add-productline {
    position: relative;
    display: block;
    width: 600px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

input {
    width: 268px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    margin: 10px;
    text-align: left;
}

.add-productline-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.add-productline-footer {
    display: flex;
    justify-content: center;
    align-items: center
}

.add-productline-footer button {
    padding: 5px 10px 5px;
    margin: 10px;
}

