.menu-agent {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    text-align: left;
    position: relative;
}

.header-agent {
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(180deg, violet, yellow);
}

a {
    text-decoration: none;
    color: black;
    left: 20px;
}

.list-agent {
    position: relative;
    top: 20px;
}
.list-agent div {
    display: block;
    border-bottom: 1px solid black;
    padding: 5px;
}

.first-list {
    border-top: 1px solid black;
}

.backmenu-agent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalmenu-agent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.button-menu-agent {
    padding: 10px;
    position: static;
    height: 40px;
    margin: 15px;
}

.exit-menu-agent {
    padding: 10px;
    margin: 15px;
}